<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <nav class="navbar col-12 m-auto position-fixed navbar-expand-lg navbar-dark " style="z-index: 999;background-color: #110706;">
      <div class="container-fluid col-11 m-auto">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">InfoSearch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consulta">Consulta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/sobre">Sobre</a>
                </li>
                </ul>
            </div>
      </div>
    </nav>
    <br><br>    <br><br>


        <div class=" col-12 m-auto text-center">
            <h2>Sobre o projeto</h2><br>
            <p class="col-11 m-auto text-center" >InfoSearch é uma aplicação full stack web construída durante o 3º módulo do curso de Desenvolvimento de Sistemas na Escola Técnica Estadual <a class="link-opacity-100" href="https://sites.google.com/view/ete-arianovilarsuassuna/">ETE-Ariano Vilar Suassuna</a> </p>

            <p class="col-11 m-auto text-center">A aplicação consiste em ver o Preço Histórico de Combustível no Brasil, podendo pesquisar e visualizar os dados dos preços máximos, médios e mínimos dos combustíveis em diferentes estados e anos.
        </div>
    <hr>
    <br>
        <div class=" col-12 m-auto text-center " >
            <h2>Desenvolvedores</h2><br>
            <ul class="d-flex justify-content-center col-11 m-auto"  >
                <li class="dev1" style="list-style-type:none;">
                    <img src="https://cdn.discordapp.com/attachments/1026544329814192221/1124117506995519559/daniel.png"
                         width="150"
                         height="150"
                         alt="">
                    <h5>Daniel Vieira</h5>

                </li>

                 <li class="dev2" style="list-style-type:none;">
                    <img src="https://avatars.githubusercontent.com/u/107414165?v=4"
                         width="150"
                         height="150"
                         alt="">
                    <h5>José Elton</h5>

                </li>

                <li class="dev3" style="list-style-type:none; ">
                    <img src="https://cdn.discordapp.com/attachments/1026544329814192221/1124105017939480576/john.png"
                         width="150"
                         height="150"
                         alt="">
                    <h5>John Thiago</h5>

                </li>

                <li class="dev4" style="list-style-type:none;">
                    <img src="https://avatars.githubusercontent.com/u/109047857?v=4"
                         width="150"
                         height="150"
                         alt="">
                    <h5>María Leonês</h5>

                </li>
            </ul>
            <ul class="d-flex justify-content-center col-11 m-auto" >
                <li class="dev5" style="list-style-type:none;">
                    <img src="https://cdn.discordapp.com/attachments/1026544329814192221/1120423950690820146/bonitao.png"
                         width="150"
                         height="150"
                         alt="">
                    <h5>Michael Douglas</h5>

                </li>

                <li class="dev6" style="list-style-type:none;">
                    <img src="https://cdn.discordapp.com/attachments/1026544329814192221/1124104660496699564/samelly.png"
                         width="150"
                         height="150"
                         alt="">
                    <h5>Sâmelly Vilela</h5>

                </li>

                <li class="dev7" style="list-style-type:none; ">
                    <img src="https://lh3.googleusercontent.com/a/AAcHTteSIDt_YSh1-l8K6YubIAT7bxH8ETuB_ADX5LAkJULfJ_U=s288-c-no"
                         width="150"
                         height="150"
                         alt="">
                    <h5>Tiago Dos Santos</h5>

                </li>
            </ul>

        </div>
            <hr>

        <div class="col-12 m-auto text-center col-12 m-auto" >
            <h2>Orientadores</h2><br>
            <ul class="d-flex justify-content-center" >
                 <li class="prof1" style="list-style-type:none;">
                    <img src="https://cdn.discordapp.com/attachments/1026544329814192221/1124100885241409628/geovan.png"
                         width="150"
                         height="150"
                         alt="">
                    <h5>Geovan Alves</h5>

                </li>

                 <li class="prof2" style="list-style-type:none;"  >
                    <img src="https://avatars.githubusercontent.com/u/4769465?v=4"
                         width="150" height="150"
                         alt="">
                    <h5>Lairson Alencar</h5>

                </li>
            </ul>
        </div>
            <br>


         <footer class="page-footer p-3 col-12 m-auto" style="background-color: #110706;">
        <div class="text-center">
            <p style="color: white">&copy; 2023 Infosearch. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>